@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat", serif;
}
body {
}

/* Header */
.brand-name {
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #db4444;
}
.container {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.btn {
  font-size: 16px !important;
  border: none;
  background: none;
}
.log-btn:hover,
.reg-btn:hover {
  background: #db4444;
  color: #fff !important;
}

/* Registration */
.user-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}
.card {
  width: 100%;
  max-width: 550px;
  padding:5px;
}
.card-head {
  display: flex;
  justify-content: center;
}
.modal-header {
  border: none !important;
}
.submit-log-form {
  display: flex;
  justify-content: center;
}
.user-submit {
  background: #db4444 !important;
  color: #fff !important;
  width: 200px;
}
.sign-link{
  color:black !important;
  text-decoration: none !important;

}
.sign-link:hover{
  text-decoration: underline !important;
}
.errors{
  color:red;
}

/* Admin Dashboard */

    /* Category */
.admindash{
  color:red !important;
}

.category-container{
  display:flex;
  justify-content: center;
}
.category-head{
  font-size:18px;
  font-weight: 500;
  padding-right: 5px;
}
.cardhead-content{
  display:flex;
  justify-content: center;
  align-items:center;
}
.category-btn{
  font-size:25px;
  width:30px;
  height:30px;
  border-radius:50%;
  display:flex;
  justify-content: center;
  align-items: center;
}
tbody tr{
  border-radius: 16px;
}

.categAddModalHead,.categDeleteModalHead{
  display:flex;
  justify-content: center !important;
  align-items: center !important;
  background:#e9e9e9 !important;
}

.categ-add-btns{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  gap:15px;
}

.categ-alt-btn,.categ-subCateg-btn{
  background:none !important;
  padding:5px 8px !important;
  border-radius : 10px !important;
  border:1px solid #db4444 !important;
}